.footer {
    padding-top: 70px;
    padding-bottom: 145px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-block {
    display: flex;
    flex-direction: column;
    margin-top: -60px;
}

.footer-logo {
    margin-left: -20px;
}

.footer-info {
    margin-top: -45px;

    .info-title {
        width: 257px;
        @include f-poppins;
        @include text(18px, 400, 1.5, #081f32);
        opacity: 0.7;
        margin-bottom: 30px;
    }

    .info-email {
        @include f-poppins;
        @include text(16px, 400, 1.6, #081f32);
        opacity: 0.7;
        letter-spacing: 0.06em;
        margin-bottom: 15px;
    }

    .socialmedia {
        display: flex;
        gap: 26px;

        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.footer-home {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
        @include f-poppins;
        @include text(20px, 500, 1.5, #081f32);
        margin-bottom: 10px;
    }

    .footer-text {
        @include f-poppins;
        @include text(16px, 500, 1.5, #081f32);
        opacity: 0.7;
        transition: all 0.3s ease;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.footer-subscribe {
    h3 {
        @include f-poppins;
        @include text(20px, 500, 1.5, #081f32);
        margin-bottom: 30px;
    }
}

.subscribe-input {
    position: relative;
    width: 450px; 

    input {
        width: 100%;
        height: 54px;
        padding: 15px 160px 15px 20px; 
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        @include f-poppins;
        @include text(16px, 400, 1.5, #081f32);
        cursor: pointer;
        transition: all 0.3s ease;

        &::placeholder {
            color: #081f32;
            opacity: 0.5;
        }

        &:hover {
            box-shadow: 0 2px 10px rgba(27, 117, 187, 0.35);
        }
    }

        .btn {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            @include button(164px, 54px, 15px 40px);
            @include f-poppins;
            @include text(16px, 500, 1.5, #fff);
            letter-spacing: 0.03em;
        }
}


@media all and (max-width: 820px) {
    .footer {
        padding-bottom: 70px;
    }

    .footer-content {
        align-items: center;
        gap: 10px;
    }

    .footer-info {
        align-items: flex-start;
    }

    .subscribe-input {
        width: 100%;
        max-width: 350px;

        .btn {
            width: 100px;
            padding: 15px 20px;
        }
    }

}

@media all and (max-width: 480px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .footer-block {
        align-items: center;
        text-align: center;
        margin-top: 0;
    }

    .footer-logo {
        margin-left: 0;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;

        .info-title,
        .info-email {
            width: 100%;
        }
    }

    .footer-home {
        align-items: center;
    }

    .footer-subscribe {
        h3 {
            text-align: center;
        }
    }
}
