.hero-section {
    position: relative;
}

.hero-content {
    margin-top: 80px;
    position: relative;

    .hero-text {
        text-transform: uppercase;
        @include f-roboto;
        @include text(20px, 500, 1.5, #1b75bb);
        letter-spacing: 0.1em;
        opacity: 0.8;
    }
}


.hero-title {
    margin: 15px 0 25px 0;
    max-width: 456px;
    word-wrap: break-word;
    @include f-gelasio;
    @include text(57px, 600, 1.2, #081f32);

    span {
        color: #1b75bb; 
    }
}

.text {
    @include f-roboto;
    @include text(18px, 400, 1.6, #081f32);
    max-width: 347px;
    opacity: 0.6;
    margin-bottom: 30px;
}

.hero-btn {
    @include button(138px, 56px, 15px 30px);
    @include f-roboto;
    @include text(16px, 500, 1.6, #fff);
}

.hero-box {
    position: absolute;
    left: 12%;
    bottom: -210px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 687px;
    width: 100%;
    border-radius: 10px;
    backdrop-filter: blur(70px);
    background: rgba(255, 255, 255, 0.21);
    padding: 24px 49px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .text-info {
        @include f-roboto;
        @include text(16px, 500, 1.6, #081f32);
    }

    .text-date {
        @include f-roboto;
        @include text(16px, 400, 1.6, #081f32);
        opacity: 0.8;
    }
}

.diver {
    border-right: 2px solid #9dacb8;
    height: 34px;
    opacity: 0.4;
}

@media all and (max-width: 768px) {
    .hero-box {
        left: 5%;
    }
}

@media all and (max-width: 480px) {
    .hero-content {
        margin-top: 40px;

        .hero-text {
            font-size: 16px;
        }
        .hero-title {
            font-size: 36px;
        }
        .text {
            font-size: 16px;
            max-width: 100%;
            margin-bottom: 20px;
            opacity: 0.8;
        }
    }
    .hero-box {
        left: 0%;
        gap: 5px;
        margin-top: 20px;
        padding: 15px 8px;

        .text-info {
            font-size: 14px;
        }
        .text-date {
            font-size: 14px;
        }
        .diver {
            display: none;
        }
        .hero-btn {
            @include button(105px, 45px, 10px 20px);
            @include text(14px, 500, 1.6, #fff);
        }
    }


}


