@mixin container {
    max-width: 1140px; 
    margin: 0 auto;
    padding: 0 15px; 
}

@mixin f-roboto {
    font-family: $font-family;
}

@mixin f-gelasio {
    font-family: $second-family;
}

@mixin f-poppins {
    font-family: $third-family;
}

@mixin text($size, $weight: 400, $lh: 1.3, $color: #081f32) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lh;
    color: $color;
}

@mixin button($width: 134px, $height: 54px, $padding: 15px 30px, $bg: #1b75bb) {
    border-radius: 5px;
    width: $width;
    height: $height;
    padding: $padding;
    background: $bg;
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;

    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);

    &:hover {
        background: darken($bg, 10%);
        box-shadow: 0 4px 25px rgba(27, 117, 187, 0.35);
    }
}


