.section-gallery {
    padding-top: 70px;
    padding-bottom: 70px;
}

.gallery-block {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
}

.block-info {
    max-width: 439px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

    h2 {
        @include f-gelasio;
        @include text(32px, 600, 1.4, #081f32);
    }

    p {
        @include f-roboto;
        @include text(18px, 400, 1.6, #081f32);
        opacity: 0.6;
    }

    .btn {
        @include button(137px, 56px, 15px 30px,);
        @include f-roboto;
        @include text(16px, 500, 1.6, #fff);
    }
}

.block {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;

    img {
        width: 555px;
        height: 337px;
        display: block;

        &:hover {
            transform: scale(1.1);
            transition: 0.5s ease;
        }
    }


 
}

.info-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 231px;
    height: 126px;
    padding: 22px 19px;
    backdrop-filter: blur(10px);
    background: rgba(226, 226, 226, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .btn {
        @include button(105px, 41px, 10px 20px, #1b75bb);
        @include f-gelasio;
        @include text(14px, 500, 1.5, #fff);
        margin-top: 10px;
    }

}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.text-info {
    @include f-roboto;
    @include text(18px, 500, 1.6, #081f32);
}

.price {
    @include f-roboto;
    @include text(14px, 500, 1.6, #081f32);

    span {
        @include text(12px, 400);
    }
}

@media all and (max-width: 480px) {
    .gallery-block {
        grid-template-columns: 1fr;
    }

    .block img {
        width: 100%;
        height: auto;
    }

    .info-img {
        width: 225px;
        height: 100px;
        padding: 10px 15px;

        .btn {
            @include button(105px, 41px, 10px 20px, #1b75bb);
            @include text(12px, 500, 1.5, #fff);
        }
    }
}

