.section-content {
    padding-top: 60px;
    padding-bottom: 70px;
}

.content-choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
    max-width: 820px;
    margin: 0 auto;
}

.content-title {
    @include f-gelasio;
    @include text(32px, 500, 1.4, #081f32);
}

.content-text {
    @include f-roboto;
    @include text(18px, 400, 1.6, #081f32);
    opacity: 0.6;
}

.content-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 262px;
    text-align: center;
    padding: 21px 17px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 4px 30px 0 rgba(199, 199, 199, 0.25);
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;

    img {
        width: 74px;
        height: 70px;
    }

    &:hover {
        box-shadow: 0 4px 30px 0 rgba(27, 117, 187, 0.3);

    }
}

.card-title {
    @include f-gelasio;
    @include text(20px, 500, 1.5, #081f32);
    margin-top: 41px;
}

.card-text {
    @include f-roboto;
    @include text(16px, 400, 1.6, #081f32);
    opacity: 0.6;
    margin-top: 15px;
}

@media all and (max-width: 820px) {
    .content-cards {
        flex-direction: column;
        gap: 40px;
    }

    .card {
        width: 100%;
        max-width: 350px;
    }
}