.section-testimonials {
    padding: 70px 0;
}

.testimonials-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;

    h2 {
        @include f-gelasio;
        @include text(32px, 600, 1.4, #081f32);
    }

    .btn {
        @include button(133px, 62px, 15px 30px);
        @include f-roboto;
        @include text(20px, 500, 1.6, #fff);
    }
}

.testimonials-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.testimonials-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 360px;
    height: 325px;
    padding: 27px 40px;
    cursor: pointer;
    transition: 0.3s ease;

    .client-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid #1b75bb;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }

        .testimonials-text {
            position: relative;
            width: 281px;
            margin: 25px 0 30px 0;
            @include f-roboto;
            @include text(18px, 400, 1.6, #081f32);
            opacity: 0.6;

            &::before {
                content: "";
                position: absolute;
                top: -20px;
                left: 0;
                width: 24px;
                height: 21px;
                background: url("../img/section-testimonials/icon-quotes.svg") no-repeat center/contain;
            }
        }

        .client-name {
            @include f-gelasio;
            @include text(20px, 500, 1.5, #081f32);
            opacity: 0.7;
        }

        .client-email {
            @include f-roboto;
            @include text(16px, 400, 1.6, #081f32);
            opacity: 0.7;
        }
    }

    &.active {
        box-shadow: 0 4px 30px 0 rgba(199, 199, 199, 0.25);
        background: #fff;

        .testimonials-text {
            opacity: 1;

            &::before {
                background: url("../img/section-testimonials/icon-quotes-active.svg") no-repeat center/contain;
            }
        }

        .client-name {
            opacity: 1;
        }

        .client-email {
            opacity: 1;
        }
    }
}

@media all and (max-width: 1200px) {
    .testimonials-cards {
        flex-direction: column;
        gap: 50px;
    }
}

@media all and (max-width: 480px) {
    .testimonials-title {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}