.section-subscribe {
    padding-top: 70px;
    padding-bottom: 124px;
}

.subscribe-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-title {
    text-align: center;
    margin-bottom: 50px;

    span {
        @include f-roboto;
        @include text(20px, 500, 1.5, #081f32);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        opacity: 0.8;
    }

    h2 {
        @include f-gelasio;
        @include text(32px, 600, 1.4, #081f32);
        margin-top: 20px;
    }

}

.subscribe-form {
    position: relative;
    width: 570px; // ширина форми

    input {
        width: 100%;
        height: 54px;
        padding: 15px 160px 15px 20px; // правий padding для кнопки
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        @include f-poppins;
        @include text(16px, 400, 1.5, #081f32);
        cursor: pointer;
        transition: all 0.3s ease;

        &::placeholder {
            color: #081f32;
            opacity: 0.5;
        }

        &:hover {
            box-shadow: 0 2px 10px rgba(27, 117, 187, 0.35);
        }

    }

    .btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        @include button(164px, 54px, 15px 40px);
        @include f-poppins;
        @include text(16px, 500, 1.5, #fff);
        letter-spacing: 0.03em;
    }
}

@media all and (max-width: 768px) {
    .section-subscribe {
        padding-bottom: 30px;
    }
}

@media all and (max-width: 480px) {
    .section-subscribe {
        padding-top: 30px;
    }
    .subscribe-title {
        h2 {
            font-size: 24px;
        }
    }

    .subscribe-form {
        width: 100%;

        input {
            padding: 15px 130px 15px 20px;
        }

        .btn {
            width: 130px;
        }
    }
}